<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Aplicación de Gestión de Jugadores de Smash</h1>
        <p class="text-center">Utiliza las siguientes páginas para interactuar con la base de datos de jugadores:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'player_create' %}">Crear Jugador</a></li>
            <li class="list-group-item"><a href="{% url 'view_all_players' %}">Ver Todos los Jugadores</a></li>
        </ul>
    </div>
</body>
</html>
